body{

background:#020617;

font-family:
Consolas,
monospace;

color:white;

}



.container{

width:900px;

margin:40px auto;

}


h1{

text-align:center;

color:#38bdf8;

}



.panel{

background:#111827;

padding:25px;

border-radius:20px;

box-shadow:
0 0 30px #000;

}



input,textarea{

width:100%;

box-sizing:border-box;

margin:10px 0;

padding:15px;

background:#020617;

color:#22c55e;

border:1px solid #334155;

border-radius:10px;

}



textarea{

height:450px;

font-size:14px;

}



button{

padding:12px 20px;

margin:5px;

border:0;

border-radius:10px;

background:#38bdf8;

cursor:pointer;

font-weight:bold;

}


button:hover{

transform:scale(1.05);

}